# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
/app/sessions/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/build/
/vendor/
/app/SymfonyRequirements.php
/web/config.php

# Assets and user uploads
/web/bundles/
/web/uploads/

# Assets managed by Bower
/web/assets/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar
/composer.lock

# Tests
/Tests/cache
/Tests/logs

# other
.env
.idea/*
/node_modules/

# eclipse
.buildpath
.project
.settings/*

# netbeans
/nbproject/*