{% extends "TMDCoreBundle::index.html.twig" %}

{% block title %}
    Election - choix Préfecture
{% endblock %}



{% block body %}
    <div id="hideheaderRow" class="row" style="margin-top: -8px;">
        <div class="col-md-11" style="background-color: white;position: relative;z-index: 8;margin-bottom: 10px;padding-right: 0px;">
            <div class="titreFenetre" >
                <h3 style="margin-bottom: 1px;">Suivi Election </h3>

            </div>
        </div>
    </div>
    <div>
        <h4> Choix de la préfécture</h4>
        <button type="button" class="btn btn-default" id="pref2" onclick="choixTour('dep',2)" >Préfecture de l'Aisne</button>
        <button type="button" class="btn btn-default" id="pref10"onclick="choixPrefecture(10)">Préfecture de l'Aube</button>
        <button type="button" class="btn btn-default" id="pref39" onclick="choixTour('dep',39)">Préfecture du Jura</button>
    </div>
    <div id="choixType" style="margin-top: 20px">

    </div>
    <div id="choixTour" style="margin-top: 20px">

    </div>

{% endblock %}
{% block Javascriptplus %}

{% endblock %}