{% extends "TMDCoreBundle::index.html.twig" %}

{% block title %}
    Ajout News - {{ parent() }}
{% endblock %}

{% block body %}



<div class="row">
    <div class="col-md-5">
        <div class="titreFenetre">
            <h3>Ajout d'une News</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
                {{ form(form) }}
        </div>
    </div>

</div>
{% endblock %}


