{% extends "TMDCoreBundle::index.html.twig" %}

{% block title %}
    Client - {{ parent() }}
{% endblock %}

{% block body %}



    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Liste des utilisateurs</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Ajouter un utilisateur</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" class="well">
                    <table class="table">
                        <tr>
                            <th>Nom</th>
                            <th>Role</th>
                        </tr>

                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>
                            {% for role in user.getRoles %}
                                    {{ role }} {%  if  not loop.last %},{% endif %}
                            {% endfor %}
                            </td>
                        </tr>
                    {%  endfor %}

                    </table>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="row">
                    <div class="col-md-5" style="margin-top: 15px;">
                        <div class="well">

                            {{ form(form) }}

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
