{#<div class="row">#}
    {#<div class="col-md-12">#}
        {#<p style="font-size: 1.6em;width: 150px;text-align: left;margin-left: 10px;">Date de depôt: </p>#}
        {#</div>#}
    {#<div class="col-md-offset-1 col-md-2">#}
        {#<div id="retourdatedepotOk">#}
            {#<div class="input-group date" data-provide="datepicker" style="width: 150px;">#}
                {#<input id="date-range1" type="text" class="form-control" >#}
                {#<div class="input-group-addon">#}
                    {#<span class="glyphicon glyphicon-th"></span>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#<div class="col-md-2" id="retourdatedepotBouton" style="text-align: left;">#}
        {#<button class="btn btn-default" onclick="valideDateDepot(+annonce)" >Valide</button>#}
        {#</div>#}
    {#<div class="col-md-12" id="retourdatedepot" style="display: none;text-align: left;margin-left: 10px;">#}
        {#</div>#}
    {#</div>#}


<input id="date-range0" size="40" value="">
<div class="col-md-12" style="margin-top: 10px;">
    <div id="afficherTrdate" style="text-align: initial;border: inherit;background-color: white;font-family: initial;font-size: 0.7em;">
    </div>
</div>

