<div id="recupIdAppli" style="display: none;">{{ idOperation }}</div>
{#<div id="myModal1" class="modal">#}
    {#<!-- Modal content -->#}
    {#<div class="modal-content">#}
        {#<div style="text-align: right;"><a href="#"><span class="closeArticle2">&times;</span></a></div>#}
        {#<div id="modalArticleContenu1">Some text in the Modal..</div>#}
    {#</div>#}
{#</div>#}


<div class="row">
    <div id="modifClassCalendar" class=" col-md-4" >
        <div id='calendar' style="margin-top: 45px;width: 100%;"></div>
    </div>
    <div id="modifClassCalendar2" class="col-md-8" style="margin-top: 113px;">

        <div id="rempliCalendar2">  </div>
    </div>

    <div class="col-md-12" style="margin-top: 10px;">
        <div id="afficherPardate" style="text-align: initial;border: inherit;background-color: white;font-family: initial;font-size: 0.7em;padding-right: 10px;">
        </div>
    </div>
</div>


