
{% extends "@TMDProd/layout.html.twig" %}

{% block title %}
    Client - {{ parent() }}
{% endblock %}

{% block tmdprod_body %}

    {#{% if bl is defined %}#}
        {#{% for b in bl %}#}
            {#<p>{{ b.numCmdeClient }}</p>#}
            {#<p style="margin-left: 80px;"></p>#}
        {#{%  endfor %}#}
    {#{% endif %}#}





    <h1>... NEWS ...</h1>


{% endblock %}