{% extends '@TMDProd/layout.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    Chercher BL dans un intervalle de date :



    <div class="well">

        {{ form(form) }}

    </div>

    {% block tmdprod_search %}

    {% endblock %}

{% endblock %}

