
{% extends "@TMDCore/index.html.twig" %}

{% block title %}
    Client - {{ parent() }}
{% endblock %}

{% block body %}

    <a href="#http://tmdsws801/portail/icomed/index">Link1</a>


    <div id="include"></div>

    <h1>... NEWS ico...</h1>


{% endblock %}